<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="BDD Test Suite" verbose="1">
    <test name="WIN10TEST" annotations="JDK">
        <parameter name="browser" value="chrome"/>
        <parameter name="version" value="98.0"/>
        <parameter name="platform" value="WIN10"/>
        <classes>
            <class name="runners.TestRunner" />
        </classes>
    </test>
</suite>